@using FlightReservationApp_f.Models
@model IEnumerable<FlightReservationApp_f.Models.FlightPassenger>

@{
    ViewData["Title"] = "Index";
}

<h1>Flight Passengers</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passenger)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passenger.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" >Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" >Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
